* {
 box-sizing: border-box;
}

body {
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: center;
}

.add-entry {
  background-color: blue;
  padding: 12px 18px;
  color: white;
  border: none;
  border-radius: 5px;
}

.hidden {
  display: none;
}

.background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .8);
  display: flex;
  justify-content: center;
  align-items: center;
}
